@import url("http://fonts.googleapis.com/css?family=Inconsolata");
@import url("http://fonts.googleapis.com/css?family=Nobile");

body
{
    font-family: 'Nobile',Arial, Helvetica, sans-serif;
    font-size: 18pt;
}

.CTopic
{
    font-size: 13pt;
}

p 
{
   text-indent: 0;
   margin-bottom: 1em;
   margin-top: 1em;
}

.CBody .prettyprint
{
    font-family: Inconsolata, 'Courier New', Courier, monospace;
    font-size: 10pt;
    border-width: 1px 1px 1px 1em;
    border-style: dashed dashed dashed solid;
    border-color: #CBCBCB;
    background: #F8F8F8F8;
    padding: 0.5em 1em 0.5em 1em;
    margin: 1em 5% 0 5%;
}

.CBody .Prototype
{
   margin: 0.5em 0.5em 0.5em 0.5em;
}

.CBody pre
{
    font-family: Inconsolata, 'Courier New', Courier, monospace;
    font-size: 10pt;
    border-width: 1px 1px 1px 1px;
    border-style: dashed dashed dashed dashed;
    border-color: #CBCBCB;
    background: #F8F8F8F8;
    padding: 0.5em 1em 0.5em 1em;
    margin: 1em 5% 0 5%;
}

.Prototype td
{
    font-size: 10pt;
}

.SProperty .SEntry, .SFunction, .SEvent, .SVariable, .SType a
{
    font-family: Inconsolata, "Courier New", "Courier", monospace;
    font-variant: normal;
    font-size: 10pt;
}

.CDescriptionList
{
    width: 90%;
    background-color: #F8F8F8F8;
    border: 1px dashed #CBCBCB;
    padding: 0.5em 1em 0.5em 1em;
    margin: 1em 5% 0 5%;
}

.CDescriptionList .CDLEntry
{
    font-family: Inconsolata, "Courier New", "Courier", monospace;
    width: 15%;
}

.CDLDescription
{
    font-size: 12pt;
}

.SDescription
{
   display: none;
}

.Summary
{
   margin-right: 30em;
   margin-left: 1em;
}

.STable
{
    font-size: 10pt;
}

.SClass td, .SDatabase td, .SDatabaseTable td, .SSection td{
    font-size: 14pt;
}

.SMain td
{
    display:none;
}

.SGroup .SEntry a
{
    color: #941300;
}

#MainTopic .CTitle
{
    background-color: #941300;
    border-color: #4a0900;
}

.CGroup .CTitle
{
    font-size: 24pt;
}

.Summary,.CTitle,.CHeading,.IEntry
{
    font-variant: small-caps;
    font-size: 18pt;
}

.SBorder
{
    background-color: #F4F4FF;
}

.SMarked
{
    background-color: #E8E8FF;
}

.STitle
{
    text-indent: 0;
    margin-left: 0;
    font-size: 24pt;
}

.MGroup
{
    border-style:  dashed  none  none dashed;
    border-color: black;
    border-width: 1px;
    padding: 0.5em 0 0 0.5em;
}


.CConstant + * .CHeading + p, .CGroup + * .CHeading + p
{
    text-indent: 2em;
}

.MSubTitle
{
    font-style: italic;
    font-variant: small-caps;
}

.CTopic
{
    margin-bottom: 1.5em;
}
