customer_id=V3mX9sh
app_name=TestTrickPlayAV
user_full_name=Marcus
asset_id=fake1
guid=a5afb49e-16a0-4e5d-bc41-19ac9b25e6e8
exe_path=/home/pablo/Documents/AudibleMagic/AudibleMagicOEMLibrary_18.23b_20100806/examples/c_c++/media2xml-postxml/linux/linux_64bit/
url=http://amtest.sikeq1.net/amidproxy/asp/amidserver.asp


