body
{
    font-family: Arial, Helvetica, sans-serif;
}

p 
{
   text-indent: 0;
   margin-bottom: 1em;
   margin-top: 1em;
}

.CBody .prettyprint
{
    font: "Courier New", Courier, monospace;
    border-width: 1px 1px 1px 1em;
    border-style: dashed dashed dashed solid;
    border-color: #CBCBCB;
    background: #F8F8F8F8;
    padding: 0.5em 1em 0.5em 1em;
    margin: 1em 5% 0 5%;
}

.CBody .Prototype
{
   margin: 0.5em 0.5em 0.5em 0.5em;
}

.CBody pre
{
    font: "Courier New", Courier, monospace;
    border-width: 1px 1px 1px 1px;
    border-style: dashed dashed dashed dashed;
    border-color: #CBCBCB;
    background: #F8F8F8F8;
    padding: 0.5em 1em 0.5em 1em;
    margin: 1em 5% 0 5%;
}

.CDescriptionList
{
    width: 90%;
    background-color: #F8F8F8F8;
    border: 1px dashed #CBCBCB;
    padding: 0.5em 1em 0.5em 1em;
    margin: 1em 5% 0 5%;
}

.CDescriptionList .CDLEntry
{
    width: 15%;
}

.SDescription
{
   display: none;
}

.Summary
{
   margin-right: 40em;
}

.SGroup .SEntry a
{
    color: #941300;
}

.SProperty .SEntry,.SFunction,.SEvent a
{
    font-variant: normal;
    font-family: "Courier New", Courier, monospace;
}


#MainTopic .CTitle
{
    background-color: #941300;
    border-color: #4a0900;
}

.Summary,.CTitle,.CHeading,.IEntry
{
    font-variant: small-caps;
}

.SBorder
{
    background-color: #F4F4FF;
}

.SMarked
{
    background-color: #E8E8FF;
}

.STitle
{
    font-size: 18px;
}

.MGroup
{
    border-style:  dashed  none  none dashed;
    border-color: black;
    border-width: 1px;
    padding: 0.5em 0 0 0.5em;
}

.CGroup + * .CHeading + p
{
    text-indent: 2em;
}
