[Desktop Entry]
Type=Link
Encoding=UTF-8
Name=Trickplay Documentation
URL=file:///usr/share/doc/trickplay-sdk/html/index.html
Icon=trickplay
Categories=Development;Application;
Comment=Trickplay Documentation
