[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Trickplay Visual Editor Documentation
Exec=gnome-open /usr/share/doc/trickplay-editor/html/index.html
Icon=trickplay
Categories=Development;Application;
Comment=Trickplay Visual Editor Documentation
